
<div class="jumbotron">
    <h1>
        <span class="title">NDE</span>
        <span class="fhir">Fhir</span>
        <span class="subtitle">server</span>
    </h1>
    <h2><b>C#</b> Reference Implementation for HL7 FHIR</h2>

    <h4>Endpoint: </h4>
    <h3 class="endpoint">
        @Settings.Endpoint
    </h3>
</div>

<hr/>

<div class="row">
    <div class="col-md-4">
        <h2>Implementation</h2>
        <p>
            This is the official <b>C#</b> Reference implementation server for 
            <a href="http://www.hl7.org/implement/standards/fhir/"><b>FHIR</b> STU-3 </a>
            by the <a href="https://www.ehelse.no">Norwegian Directorate of eHealth</a>.
            This server is built with the 
            <a href="http://ewoutkramer.github.io/fhir-net-api/"><b>C#</b> FHIR API</a>.
            This server is regularly reset and filled with the official resourceIdentifier examples.
        </p>
        
    </div>
    
    <div class="col-md-4">
        <h2><img src="~/Content/fhir-logo.png" alt="FHIR" /></h2>
        <p>
            <a href="http://www.hl7.org/implement/standards/fhir/">FHIR</a> is the latest Health communication standard from <a href="http://en.wikipedia.org/wiki/Health_Level_7">HL7</a>.
            FHIR aims to be a lot <a href="http://www.hl7.org/implement/standards/fhir/overview.html">simpler</a> than HL7v3, without sacrificing information integrity.
        </p>
    </div>

</div>
